{% extends 'base.html.twig' %}

{% block title %}Certifications{% endblock %}

{% block body %}
<link rel="stylesheet" href="#">
<h1>Certifications</h1>
<div class="infocardContainer">
  <div id="main">
    <img src="{{asset('assets/images/cisco.png')}}"></img>
  </div>
  <div id="textbois">
    <h2>Certification CISCO</h2>
    <h4>WIP</h4>
    <p>WIP</p>
  </div>
</div>

<div class="infocardContainer2">
  <div id="main2">
    <img src="{{asset('assets/images/voltaire.png')}}"></img>
    <link rel="stylesheet" href="{{ asset('assets/css/style_certif.css') }}">
  </div>
  <div id="textbois">
    <h2>Certification VOLTAIRE</h2>
    <h4>WIP</h4>
    <p>WIP</p>
  </div>
</div>
{% endblock %}
