{% extends 'base.html.twig' %}

{% block title %}Mes projets !{% endblock %}

{% block body %}

<h1>Projets</h1>
<link rel="stylesheet" href="/assets/css/style_projet.css">
<div class="card">
  <div class="content">
    <div class="front1">
      Améliorer une application existante
    </div>
    <div class="back1">
      <p>Sous un contrat de service avec la société GSB (société fictive), et avec le langage C#, nous devions, par groupe de trois,
        respecter un contrat de service definit comme suit :</p>
        </p>
          <ul>
            <li>Vérifier les règles de nommages internes à GSB ;</li>
            <li>Procéder au débogage du programme ProSanté V1 ;</li>
            <li>Apporter des améliorations au programme afin de livrer une V2.</li>
            <li>Améliorer la partie VISITEURS ;</li>
            <li>Améliorer la partie PROFESSIONNELS ;</li>
            <li>Améliorer la partie VISITES.</li>
          </ul>
        </p>
    </div>
  </div>
</div>
<div class="lien1">
<a href="/assets/download/prosante_V3.zip" download="prosante_V3.zip">Télécharger</a>
</div>

<div class="card2">
  <div class="content">
    <div class="front2">
      Site WEB avec Symfony 5
    </div>
    <div class="back2">
      <p>Le but du projet était de créer un site vitrine pour un photographe (Monsieur X), avec le Framework Symfony 5.</p>
        <p>En groupe de trois, nous avions une deadline de 3 semaines pour rendre le projet.</p>
        <p>Nous devions respecter plusieurs contraintes :
            <ul>
                <li>Respecter les pages demandées ;</li>
                <li>Développer sous Symfony 5 ;</li>
                <li>Présence de formulaires ;</li>
                <li>Créer une base de données connectée au site ;</li>
                <li>Respecter l'architecture MVC (Modele View Controller).</li>
            </ul>
        </p>
    </div>
  </div>
</div>
<div class="lien2">
    <a href="https://github.com/YohannDR/AP1Comeleon">Github</a>
</div>

<div class="card3">
  <div class="content">
    <div class="front3">
        WIP
    </div>
    <div class="back3">
        WIP
    </div>
  </div>
</div>
<div class="lien3">
<a href="#">WIP</a>
</div>
{% endblock %}
