{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/assets/css/style_accueil.css">
    <h1>Présentation</h1>
    <br>
    <div class="titrePresentation">
        <p>Bienvenue sur mon portfolio ! Ici, tu trouveras des projets que j'ai réalisé, des certifications que j'ai complété,
        le thème et mes veilles technologiques, et même une page pour que tu puisses me contacter !</p>
    </div>
    <br><br>
    <div class="container">
        <p>Je m'appelle Marvine Gaudrée, j'ai 22 ans (bientôt 23 :o), je suis en 2ème année de BTS SIO
         (Services Informatiques aux Organisation) option SLAM (Solutions Logicielles et Applications Métiers).
         Le développement WEB et mobile est une branche que j'apprécie de plus en plus et j'aimerai en faire mon activité principale,
         après ma licence. Si vous êtes suffisemment intrigué, vous pouvez consulter mon CV directement sur le site. Pratique, non ? :)
        </p>
    </div>
    <div class="imgCV">
        <img src="/assets/images/cv.jpg" alt="monCV" class="cv">
    </div>



{% endblock %}
